.Toolbar{
    width:100%;
    height: 55px;
    display:flex;
    top:0;
    left:0;
    position:fixed;
    background-color: rgb(128, 61, 61);
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    align-items: center;
    color:white;
}

.Toolbar nav{
    height: 100%;
}